.activity{
    display: flex;
    width: 100%;
    .activityContainer{
        flex: 6;
        h3 {
            font-weight: bold;
            color: rgba(160, 160, 160);
            margin-left: 25px;
            margin-bottom: 15px;
          }
          .activityTable {
            margin: 20px 10px;
          }
        }
    }