.home {
  display: flex;

  .homeContainer {
    flex: 6;

    .csData {
      font-weight: bold;
      font-size: 18px;
      color: rgba(160, 160, 160);
      margin-left: 25px;
      margin-top: 15px;
    }
    .widgets {
      display: flex;
      flex-direction: row;
      padding: 20px;
      gap: 20px;
    }
    .map {
      margin: 10px 15px;
      box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.75);
      border-radius: 10px 10px 10px 10px;
      -webkit-border-radius: 10px 10px 10px 10px;
      -moz-border-radius: 10px 10px 10px 10px;
      // height: 40vh;
      // height:100%;
      // width:100%;
      // margin-left:10px;
      // margin-right:5px;
      // margin-top:5px;
    }
    .mapGoogle {
      margin: 10px 10px;
    }
  }
}
